div{border: solid 5px red; background-color: black; margin-top: 300px; width: 65%; margin-left: 100px; margin-bottom: 200px;}
h1{background-color: aqua; width: 100%;}

.d{background-color: brown; text-align: center ; color: white;   }
 body{background-color: aquamarine;}





















